@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=sw');

body {
    background-color: #FFFAFA;
    /* background-image: url("./assets/images/purple.jpg"); */
}

.navbar-brand {
    font-family: satisfy;
}

.nav-link {
    color: white;
}

.bg-dark {
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%)!important;
}

.dropdown-link {
    color: black;
}

.dropdown-item a {
    background-color: rebeccapurple;
}

#anchor-white {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.jumbotron-fluid {
    background: rebeccapurple;
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: white;
    opacity: 0.8;
}

.jumbotron-style {
    background-color: lightgray;
    opacity: 1;
}

.styling-cards {
    display: flex;
    justify-content: space-around;
}

.styling-text {
    align-self: center;
}

.signup-look {
    color: black;
}

.signup-look:hover {
    color: white;
}

/* Form settings */

.admin-container {
    max-width: 600px;
    margin-top: 1rem;
    padding: 0 3rem 0 3rem;
    border: 2px solid purple;
    background-color: white;
}

.form-check-label {
    font-weight: bold;
}

/* Calendar Settings */

.calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    background-color: whitesmoke;
    color: black;
}

.calendar > div {
    text-align: center;
    padding: 10px 0;
  }

.month {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
    padding: 2em;
    /* background-image: url("./assets/images/purple.jpg"); */
    background-color:gray;
    color: whitesmoke;
}

.month h1 {
    font-size: 1.5rem;
}

.days {
    transition: background-color 0.1s;
    border-radius: 20px;
}

.days:hover {
    background-color: indigo;
    color: white;
    cursor: pointer;
}

/* Button settings */

.btn-primary {
    background-color: #fff;
    border: 2px #fff ;
    color: #000
}

.btn-primary:hover {
    background-color: rgb(115, 110, 117);
    border: 2px solid rgb(115, 110, 117);
}

.btn-signup a {
    color: #000;
    text-decoration: none;
}

.logging-in {
    text-align: center;
    margin-top: 2em;
}
/* YouTube uploads */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

/* Footer section */
#footer-info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.footer-contact {
    display: block;
    padding-top: 2rem;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-icon {
    color: white; 
    margin: 2.2rem; 
    font-size: 2rem;
}

.circle {
    background: purple;;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Media queries **/ 
@media (max-width: 768px) {

    .navbar-text {
        margin-left: auto;
        margin-right: 1rem;
    }

    #anchor-white {
        margin-left: 0;
    }

    .cards-flex {
        flex-direction: column;
        align-items: center;
    }

    .styling-cards {
        flex-wrap: wrap;
    }

    .styling-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .flip {
        flex-wrap: wrap-reverse;
    }
    
    #footer-info {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        height: 30rem;
    }

    .footer-icon {
        color: white; 
        margin: 1.1rem; 
        font-size: 20px;
    }

    .footer-contact {
        display: inline;
        padding-top: 2rem;
    }

    .circle {
       margin: 1rem 0 2rem 0;
       width: 50px;
       height: 50px;
    }

    .styledCard-margin {
        margin-left: 0;
    }
}