@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=sw');

body {
    background-color: #E8E8E8;
}

.navbar-brand {
    font-family: satisfy;
}

/* Calendar Settings */

.calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    max-width: 500px;
    margin: auto;
}

.month {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
}

/* Dance List */
.list-group {
    max-width: 750px;
    margin: auto;
    margin-top: 3rem;
} 

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: indigo;
    border: 2px solid indigo;
}

.btn-primary:hover {
    background-color: darkorchid;
    border: 2px solid darkorchid;
}

/* Media queries */
@media (max-width: 1024px) {
    .grid-container {
        max-width: 900px;
    }

    .start-height {
        line-height: 2rem;
        font-size: 2rem;
    }

    #classical-height {
        line-height: 3rem;
        font-size: 2rem;
    }
}